SGH/Connected Services/ServiceReferenceSGH/ServiceSGH3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServidorSGH.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServidorSGH.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Administrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave_Escuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Escuela" nillable="true" type="tns:Escuela" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Administrador" nillable="true" type="tns:Administrador" />
  <xs:complexType name="Escuela">
    <xs:sequence>
      <xs:element minOccurs="0" name="Administradors" nillable="true" type="tns:ArrayOfAdministrador" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoEscolars" nillable="true" type="tns:ArrayOfPeriodoEscolar" />
      <xs:element minOccurs="0" name="Personas" nillable="true" type="tns:ArrayOfPersona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Escuela" nillable="true" type="tns:Escuela" />
  <xs:complexType name="ArrayOfAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Administrador" nillable="true" type="tns:Administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdministrador" nillable="true" type="tns:ArrayOfAdministrador" />
  <xs:complexType name="ArrayOfPeriodoEscolar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodoEscolar" nillable="true" type="tns:PeriodoEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodoEscolar" nillable="true" type="tns:ArrayOfPeriodoEscolar" />
  <xs:complexType name="PeriodoEscolar">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnioFinal" type="xs:int" />
      <xs:element minOccurs="0" name="AnioInicio" type="xs:int" />
      <xs:element minOccurs="0" name="Clave_Escuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Escuela" nillable="true" type="tns:Escuela" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MesFinal" type="xs:int" />
      <xs:element minOccurs="0" name="MesInicio" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodoEscolar_Semestre" nillable="true" type="tns:ArrayOfPeriodoEscolar_Semestre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodoEscolar" nillable="true" type="tns:PeriodoEscolar" />
  <xs:complexType name="ArrayOfPeriodoEscolar_Semestre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodoEscolar_Semestre" nillable="true" type="tns:PeriodoEscolar_Semestre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodoEscolar_Semestre" nillable="true" type="tns:ArrayOfPeriodoEscolar_Semestre" />
  <xs:complexType name="PeriodoEscolar_Semestre">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_PeriodoEscolar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Periodo_Semestre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoEscolar" nillable="true" type="tns:PeriodoEscolar" />
      <xs:element minOccurs="0" name="Semestre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodoEscolar_Semestre" nillable="true" type="tns:PeriodoEscolar_Semestre" />
  <xs:complexType name="ArrayOfPersona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersona" nillable="true" type="tns:ArrayOfPersona" />
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActaNacimiento" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bajas" nillable="true" type="tns:ArrayOfBaja" />
      <xs:element minOccurs="0" name="Clave_Escuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Curp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocCurp" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Escuela" nillable="true" type="tns:Escuela" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estudiantes" nillable="true" type="tns:ArrayOfEstudiante" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profesors" nillable="true" type="tns:ArrayOfProfesor" />
      <xs:element minOccurs="0" name="TipoSangre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
  <xs:complexType name="ArrayOfBaja">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Baja" nillable="true" type="tns:Baja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaja" nillable="true" type="tns:ArrayOfBaja" />
  <xs:complexType name="Baja">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoProbatorio" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Persona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Persona" nillable="true" type="tns:Persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Baja" nillable="true" type="tns:Baja" />
  <xs:complexType name="ArrayOfEstudiante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estudiante" nillable="true" type="tns:Estudiante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstudiante" nillable="true" type="tns:ArrayOfEstudiante" />
  <xs:complexType name="Estudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calificacions" nillable="true" type="tns:ArrayOfCalificacion" />
      <xs:element minOccurs="0" name="DocCartaBuenaConducta" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DocCertificadoSecundaria" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DocCurpTutor" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:Grupo" />
      <xs:element minOccurs="0" name="ID_Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Persona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumSeguroSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Persona" nillable="true" type="tns:Persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estudiante" nillable="true" type="tns:Estudiante" />
  <xs:complexType name="ArrayOfCalificacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Calificacion" nillable="true" type="tns:Calificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalificacion" nillable="true" type="tns:ArrayOfCalificacion" />
  <xs:complexType name="Calificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calificacion_Parcial" nillable="true" type="tns:ArrayOfCalificacion_Parcial" />
      <xs:element minOccurs="0" name="CantidadParciales" type="xs:int" />
      <xs:element minOccurs="0" name="Estudiante" nillable="true" type="tns:Estudiante" />
      <xs:element minOccurs="0" name="EvalFinal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Materia" nillable="true" type="tns:Materia" />
      <xs:element minOccurs="0" name="Matricula_Estudiante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRC_Materia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromedioFinal" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromedioParcial" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calificacion" nillable="true" type="tns:Calificacion" />
  <xs:complexType name="ArrayOfCalificacion_Parcial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Calificacion_Parcial" nillable="true" type="tns:Calificacion_Parcial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalificacion_Parcial" nillable="true" type="tns:ArrayOfCalificacion_Parcial" />
  <xs:complexType name="Calificacion_Parcial">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaliParcial" type="xs:decimal" />
      <xs:element minOccurs="0" name="Calificacion" nillable="true" type="tns:Calificacion" />
      <xs:element minOccurs="0" name="ID_Cali" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Calificacion_Parcial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calificacion_Parcial" nillable="true" type="tns:Calificacion_Parcial" />
  <xs:complexType name="Materia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calificacions" nillable="true" type="tns:ArrayOfCalificacion" />
      <xs:element minOccurs="0" name="Materia_Sesion" nillable="true" type="tns:ArrayOfMateria_Sesion" />
      <xs:element minOccurs="0" name="NRC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumSesiones" type="xs:int" />
      <xs:element minOccurs="0" name="Profesor_Materia" nillable="true" type="tns:ArrayOfProfesor_Materia" />
      <xs:element minOccurs="0" name="Semestre" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materia" nillable="true" type="tns:Materia" />
  <xs:complexType name="ArrayOfMateria_Sesion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Materia_Sesion" nillable="true" type="tns:Materia_Sesion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMateria_Sesion" nillable="true" type="tns:ArrayOfMateria_Sesion" />
  <xs:complexType name="Materia_Sesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Materia_Sesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Sesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Materia" nillable="true" type="tns:Materia" />
      <xs:element minOccurs="0" name="NRC_Materia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sesion" nillable="true" type="tns:Sesion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materia_Sesion" nillable="true" type="tns:Materia_Sesion" />
  <xs:complexType name="Sesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaSemana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:Grupo" />
      <xs:element minOccurs="0" name="HoraFinal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Materia_Sesion" nillable="true" type="tns:ArrayOfMateria_Sesion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sesion" nillable="true" type="tns:Sesion" />
  <xs:complexType name="Grupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estudiantes" nillable="true" type="tns:ArrayOfEstudiante" />
      <xs:element minOccurs="0" name="Grupo_Salon" nillable="true" type="tns:ArrayOfGrupo_Salon" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Letra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semestre" type="xs:int" />
      <xs:element minOccurs="0" name="Sesions" nillable="true" type="tns:ArrayOfSesion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo" nillable="true" type="tns:Grupo" />
  <xs:complexType name="ArrayOfGrupo_Salon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grupo_Salon" nillable="true" type="tns:Grupo_Salon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrupo_Salon" nillable="true" type="tns:ArrayOfGrupo_Salon" />
  <xs:complexType name="Grupo_Salon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_Salon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:Grupo" />
      <xs:element minOccurs="0" name="ID_Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Grupo_Salon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salon" nillable="true" type="tns:Salon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo_Salon" nillable="true" type="tns:Grupo_Salon" />
  <xs:complexType name="Salon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cupo" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo_Salon" nillable="true" type="tns:ArrayOfGrupo_Salon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Salon" nillable="true" type="tns:Salon" />
  <xs:complexType name="ArrayOfSesion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sesion" nillable="true" type="tns:Sesion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSesion" nillable="true" type="tns:ArrayOfSesion" />
  <xs:complexType name="ArrayOfProfesor_Materia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profesor_Materia" nillable="true" type="tns:Profesor_Materia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfesor_Materia" nillable="true" type="tns:ArrayOfProfesor_Materia" />
  <xs:complexType name="Profesor_Materia">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Profesor_Materia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Materia" nillable="true" type="tns:Materia" />
      <xs:element minOccurs="0" name="NRC_Materia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profesor" nillable="true" type="tns:Profesor" />
      <xs:element minOccurs="0" name="RFC_Profesor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profesor_Materia" nillable="true" type="tns:Profesor_Materia" />
  <xs:complexType name="Profesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carrera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocContrato" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ID_Persona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INE" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Persona" nillable="true" type="tns:Persona" />
      <xs:element minOccurs="0" name="Profesor_Materia" nillable="true" type="tns:ArrayOfProfesor_Materia" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profesor" nillable="true" type="tns:Profesor" />
  <xs:complexType name="ArrayOfProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profesor" nillable="true" type="tns:Profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfesor" nillable="true" type="tns:ArrayOfProfesor" />
</xs:schema>